@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&family=Poppins:wght@400;500;800&display=swap');


.header{
            background-image: linear-gradient(to right,rgb(20, 32, 44),rgb(89, 181, 221));
         }
         .navbar-brand{
            color: white !important;
            font-family: 'Libre Baskerville', serif;
            font-size: 25px;
         }
         .nav-link{
            color: white !important;
            font-size: 15px;
         }
         .nav-link:hover{
            color: lime !important;
         }
        .name{
            color: lime;
            font-size: 32px;
            font-family: 'Libre Baskerville', serif;
        }
        .animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #7c5dec 0%,
    #75ef56 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 30px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}.section-title h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
    .section-title  {
    text-align: center;
    padding-bottom: 30px;
    font-size: 20px;
  
}
.section-title h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: rgb(52, 183, 167);
    bottom: 0px;
    left: calc(50% - 25px);
}

.nohighlight {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    user-select: none;
}

* {
    box-sizing: border-box;
}
.hero {
    width: 100%;
    height: 460px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.hero--left,
.hero--right {
    width: 50%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero--left {
    float: left;
	margin-top: 38px;
}

.hero--right {
    float: right;
}

@media only screen and (max-width: 768px) {
	body {
		display: block;
		height: 100%;
    width: 100%;
		margin-top: 30px;
	}
	.hero--left {
		width: 100%;
	}
	.hero--right {
		width: 100%;
    }
}

@media only screen and (max-width: 768px) {
	.slider__image {
		width: 290px;
	}
}

.hero__title {
    font-weight: 700;
    font-size: 92px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.hero__cta a {
    position: relative;
    text-decoration: none;
    color: lime;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
}

.hero__cta a:hover .svg-icon {
    transform: translateX(4px)
}

.slider {
    width: 420px;
    height: 420px;
    position: relative;
}


.slider__background--back {
    width: 340px;
    height: 340px;
    background: rgb(0, 0, 33);
    position: absolute;
    bottom: 0;
}


.slider__background--front {
    width: 320px;
    height: 180px;
    background: orange;
    padding: 6px;
    z-index: 3;
    position: absolute;
    right: 0;
    top: 48px;
    
    transform-origin: right;
    transform: scaleX(1);
}

@keyframes slideInAndOut {
   0% {
      transform: scaleX(0);
   } 10%, 80% {
      transform: scaleX(1);
   } 90%, 100% {
      transform: scaleX(0);
   }
}

.slider__image {
    position: absolute;
    bottom: 0;
    left: -35px;
    z-index: 800;
	transform: translateX(-20px);
	
}

@keyframes slideInLeft {
    0% {
		transform: translateX(-20px);

	} 5% {
		transform: translateX(20px);
	} 100%{
		transform: translateX(40px);
	}
}

.slider__details {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    text-align: right;
	width: 320px;
    height: 180px;
    position: absolute;
    z-index: 700;
    right: 12px;
    top: 62px;
}

@keyframes fadeIn {
    0%, 40% {
		opacity: 0;
	} 100% {
		opacity: 1;
    }
}

@keyframes fadeOut {
   0% {
      opacity: 1;
   } 100% {
      opacity: 0;
   }
}

.slider__details--name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 4px;
	cursor: pointer;
}

.slider__details--price {
    font-weight: bold;
	cursor: pointer;
}

.slider__details--link {
    width: 28px;
    height: 28px;
    background: black;
    color: lime;
    padding: 1px;
    right: 0;
    top: 126px;
    position: absolute;
	
}

.svg-icon {
    width: 1em;
    height: 1em;
    position: absolute;
    bottom: 3px;
    right: -25px;
    transition: .5s;
}

.svg-icon_right path {
    fill: lime;
}

.svg-icon path {
    fill: lime;
}

.slider__navigation {
    position: absolute;
    z-index: 999;
    left: 0px;
    bottom: 0px;
}

.slider__navigation--dot {
    width: 18px;
    height: 18px;
    background-color: lime;
    float: left;
    transition: .2s;
    color: orange;

}

.slider__navigation--dot:nth-child(3) {
    margin-bottom: 0;
}

ul{
  list-style: none;
  
}
strong{
    font-size: 32px;
    font-weight: 900;
  }
  li{
    font-size: 18px;
    font-weight: 605;
  }

  /*card */


  .card1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8rem;
  }
  .card {
    position: relative;
    width: 235px ;
    height: 330px;
    background-color:black !important;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(232, 219, 219);
  }
  
  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 225px;
    height: 315px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .card p:not(.heading) {
    font-size: 14px;
  }
  
  .card:hover::after {
    filter: blur(30px);
  }
  
  .card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
    -ms-transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }
  
  /* card 2 */

  .card {
    position: relative;
    width: 215px;
    height: 300px;
    background-color:black !important;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(232, 219, 219);
  }
  
  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 225px;
    height: 315px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .card p:not(.heading) {
    font-size: 14px;
  }
  
  .card:hover::after {
    filter: blur(30px);
  }
  
  .card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
    -ms-transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }
  
  /* card 3 */

  .card {
    position: relative;
    width: 215px;
    height: 300px;
    background-color:black !important;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(232, 219, 219);
  }
  
  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 225px;
    height: 315px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .card p:not(.heading) {
    font-size: 14px;
  }
  
  .card:hover::after {
    filter: blur(30px);
  }
  
  .card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
    -ms-transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }
   /* social card */
    @media only screen and  (max-width:768px){
     #socialcard{
      width: 300px;
      align-items: center;
      gap: 15px;
     } 
    }
   .social-media {
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
    justify-content: center ;
   }

   /* rgb(184, 175, 175)*/
   .socialcard {
    width: fit-content;
    height: fit-content;
    background-color:thistle ;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 35px 35px;
    gap: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 5px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: 0.3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
  }
  /* github*/
  .containerFour:hover {
    background-color: orchid;
    transition-duration: 0.3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
  }
  
  .socialSvg {
    width: 18px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .skill-main {
    padding: 50px;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .skill-wrrap {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 10px;
      .skill-name {
        color: black;
        font-size: 18px;
        font-weight: 600;
      }
  }
  
      .skill-bar {
        height: 28px;
        background-color: #00283a;
        border-radius: 8px;
        
      }
  
      .skill-per {
        height: 28px;
        background: #23576f;
        border-radius: 8px;
        width: 0;
        transition: 1s linear;
        position: relative;
        &:before {
          content: attr(per);
          position: absolute;
          padding: 4px 6px;
          background-color: #23576f;
          color: #fff;
          font-size: 11px;
          border-radius: 4px;
          top: -35px;
          right: 0;
          transform: translateX(50%);
        }
  
        &:after {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: #23576f;
          top: -20px;
          right: 0;
          transform: translateX(50%) rotate(45deg);
          border-radius: 2px;
          
        }
      }
  }

  .number {
    font-size: 50px;
    font-feature-settings: 'tnum';
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;

}
.dribbble {
        position: fixed;
        display: block;
        right: 20px;
        bottom: 20px;
        img {
            display: block;
            height: 28px;
        }
    }
    .twitter {
        position: fixed;
        display: block;
        right: 64px;
        bottom: 14px;
        svg {
            width: 32px;
            height: 32px;
            fill: #1da1f2;
        }
      }
      .back-to-top.active {
        visibility: visible;
        opacity: 1;
    }
    .back-to-top {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        right: 15px;
        bottom: 15px;
        z-index: 996;
        background: #34b7a7;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        transition: all 0.4s;
    }
    .back-to-top i {
        font-size: 24px;
        color: #fff;
        line-height: 0;
    }
    .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
        display: inline-block;
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: -0.125em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
   
    footer {
      background: #e9e8e6;
      padding: 30px 0;
      color: #222222;
      font-size: 14px;
      text-align: center;
  }
  
  
  footer .credits {
      padding-top: 5px;
      font-size: 13px;
  }
   marquee{
      color:lime;
   }
   /* card design */
   #s2{
    text-align: center;
    text-shadow: 0px 0px 10px #eee;
    color: #eee;
    letter-spacing: 2px;
    
  }
  strong{
    font-size: 14px;
    font-weight: 700;
  }
  span{
    font-size: 14px;  }
